<md-grid-list cols="4" rowHeight="1:1">
  <md-grid-tile colspan="3" rowspan="1" id="circleroot">
    <h2 class="header">{{myinbox}} inbox</h2>
   
 <button class="btn"(click)=openDialog() >Edit Circle</button>
 <button class="btn" (click)=deleteCircle()>Delete Circle</button>
  </md-grid-tile>
   <md-grid-tile colspan="1" rowspan="2" id="memberlist">
    <!--  <div *ngIf="members">
 <div *ngFor="let a of members">

   <button md-raised-button> {{a.memberName}}</button>
 </div> -->
<!-- </div> -->
  </md-grid-tile>
  <md-grid-tile colspan="4" rowspan="1" id="memberlist">
      
  </md-grid-tile>
  <!-- <md-grid-tile colspan="4" id="post">
    <post>md-raised-button </post>
  </md-grid-tile> -->
</md-grid-list>
<post></post>